{% comment %} {% extends 'flight/layout.html' %} {% endcomment %}

{% load static %}

{% comment %} {% block head %} {% endcomment %}
<link rel="stylesheet" href="{% static 'css/complain.css' %}">
 <script type="text/javascript" src="{% static 'js/complain.js' %}"></script>
{% comment %} {% endblock head %} {% endcomment %}

{% comment %} {% block body %} {% endcomment %}
<section class="get-in-touch">
   <h1 class="title">Drop a complaint</h1>
   <form class="contact-form row">
      <div class="form-field col x-50">
         <input id="name" class="input-text js-input" type="text" required>
         <label class="label" for="name">Name</label>
      </div>
      <div class="form-field col x-50">
         <input id="email" class="input-text js-input" type="email" required>
         <label class="label" for="email">E-mail</label>
      </div>
      <div class="form-field col x-100">
         <input id="message" class="input-text js-input" type="text" required>
         <label class="label" for="message">Message</label>
      </div>
      <div class="form-field col x-100 align-center">
         <a href="{% url 'index' %}">
         <input style="text-align:center" class="submit-btn" value="Submit">
         </a>
      </div>
   </form>
</section>
 <script type="text/javascript" src="{% static 'js/complain.js' %}"></script>
